/* Loading Oswald font */
@import url(http://fonts.googleapis.com/css?family=Oswald:400,700,300);

.header,
[data-role="header"]{
	background: #CA232A !important;
	border: none;
}
.header h1,
[data-role="header"] h1{
	color: #efefef;
	overflow: visible !important;
	/*text-overflow: none !important;*/
	text-shadow:none;
	letter-spacing: 0.02em;
	/*margin: 0 5% !important;
	padding: 5px 0 !important;*/
}
ul{
	margin: 0;
	padding: 0;
}
ul li{
	list-style: none;
}
a,
a:hover{
	text-decoration: none;
	color: #333;
}
body, .ui-content, .ui-page{
	background: #E9EAED;
}
#mypanel .panel_nav{
	padding: 0;
	margin: 0;
}
#mypanel .panel_nav li{
	list-style: none;
	width: 100%;
	border-bottom: 1px solid #F1701F;
}
#mypanel .ui-panel-inner{
	padding: 0 0;
}
#mypanel .panel_nav li a{
	display: block;
	width: 95%;
	color: #efefef;
	text-shadow: none;
	text-decoration: none;
	text-transform: uppercase;
	text-align: right;
	padding: 10px 5px;
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
	letter-spacing: 0.02em;
}
#mypanel .panel_nav li:hover{
	background: #F1701F;
}
#photo_page .image_gallery{
	width: 100%;
}
#photo_page .image_gallery a{
	display: block;
	background: #FFFFFF;
	padding: 10px;
	border-width: 1px;
	border-color: #E5E6E9 #DFE0E4 #D0D1D5;
	border-radius: 3px;
	border-style: solid;
	margin-bottom: 5px;
}
#photo_page .image_gallery img{
	width: 100%;
	display: block;
}
/*-- Google Map Style --*/
#map_page #map-canvas{
	width: 100%;
}

/*-- Social Links Style --*/
#mypanel .social-links{
	padding: 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	float: right;
}
#mypanel .social-links a{
	display: block;
	float: left;
	margin-right: 5px;
	width: 30px;
	height: 33px;
	text-indent: -9999px;
	background: url('./img/social-icons.png') no-repeat top left;
}
#mypanel .social-links a.tw{ background-position: 0 -34px; }
#mypanel .social-links a.vm{ background-position: 0 -68px; } 
#mypanel .social-links a.yt{ background-position: 0 -102px; }

/* News and Events Page style */
#news_events_page #news li{
	display: block;
	background: #FFFFFF;
	padding: 10px;
	border-width: 1px;
	border-color: #E5E6E9 #DFE0E4 #D0D1D5;
	border-radius: 3px;
	border-style: solid;
	margin-bottom: 10px;
}
#news_events_page #news li a{
	color: #7D7D7D;
	font-weight: 400;
}
#news_events_page #news li .title{
	font-family: 'Oswald',sans-serif;
	text-transform: uppercase;
	border-bottom: 1px solid #E1E1E1;
	padding-bottom: 5px;
	margin-top: 0;
}
#news_events_page #news li .news-img{
	width: 100%;
	display: block;
}
#news_events_page #news li .news-desc{
	font-family: 'Oswald',sans-serif;
	font-weight: 100;
}
#news_events_page #news li .read-more{
	font-style: italic;
}
#news_events_page .load-more-news{
	font-size: 15px;
	font-weight: 400;
	font-style: italic;
	color: #8b8b8b;
	visibility: hidden;
}
#swipebox-prev, #swipebox-next{ display: none; }
.spinner{
	width: 100px;
}

#full_news_page .news_content .content{
	background: #FFFFFF;
	padding: 15px;
	border-width: 1px;
	border-color: #E5E6E9 #DFE0E4 #D0D1D5;
	border-radius: 3px;
	border-style: solid;
}
#full_news_page .news_content .news_title{
	font-family: 'Oswald',sans-serif;
	font-size: 18px;
	text-transform: uppercase;
	color: #7D7D7D;
	border-bottom: 1px solid #E1E1E1;
	padding-bottom: 5px;
	font-weight: 400;
	margin-top: 0px;
}
#full_news_page .news_content .news_img{
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	padding-bottom: 15px;
	border-bottom: 1px solid #E1E1E1;
}
#full_news_page .news_content p{
	color: #585858;
}
#contact_page [data-role="content"] p{
	font-family: 'Oswald',sans-serif;
	color: #585858;
}
#contact_page .content{
	background: #FFFFFF;
	padding: 15px;
	border-width: 1px;
	border-color: #E5E6E9 #DFE0E4 #D0D1D5;
	border-radius: 3px;
	border-style: solid;
}