/* Loading Oswald font */
@import url(http://fonts.googleapis.com/css?family=Oswald:400,700,300);

.header,
[data-role="header"]{
	background: #CA232A !important;
	border: none;
	height: 10%;
}
.header h1,
[data-role="header"] h1{
	color: #efefef;
	overflow: visible !important;
	/*text-overflow: none !important;*/
	text-shadow:none;
	letter-spacing: 0.02em;
	/*margin: 0 5% !important;
	padding: 5px 0 !important;*/
}
ul{
	margin: 0;
	padding: 0;
}
ul li{
	list-style: none;
}
a,
a:hover{
	text-decoration: none;
	color: #333;
}
body,
.ui-content{
	background: #fefefe;
}
#mypanel .panel_nav{
	padding: 0;
	margin: 0;
}
#mypanel .panel_nav li{
	list-style: none;
	width: 100%;
	border-bottom: 1px solid #F1701F;
}
#mypanel .ui-panel-inner{
	padding: 0 0;
}
#mypanel .panel_nav li a{
	display: block;
	width: 95%;
	color: #efefef;
	text-shadow: none;
	text-decoration: none;
	text-transform: uppercase;
	text-align: right;
	padding: 20px 5px;
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
	letter-spacing: 0.02em;
	font-size: 1.5em;
}
#mypanel .panel_nav li:hover{
	background: #F1701F;
}
#photo_page .image_gallery{
	width: 100%;
}
#photo_page .image_gallery a{
	display: inline-block;
	width: 32.50%;
	margin-left: 2px;
}
#photo_page .image_gallery img{
	width: 100%;
}
/*-- Google Map Style --*/
#map_page #map-canvas{
	width: 100%;
}

/*-- Social Links Style --*/
#mypanel .social-links{
	padding: 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	float: right;
}
#mypanel .social-links a{
	display: block;
	float: left;
	margin-right: 5px;
	width: 30px;
	height: 33px;
	text-indent: -9999px;
	background: url('./img/social-icons.png') no-repeat top left;
}
#mypanel .social-links a.tw{ background-position: 0 -34px; }
#mypanel .social-links a.vm{ background-position: 0 -68px; } 
#mypanel .social-links a.yt{ background-position: 0 -102px; }
